---
layout: base
masonry: true
---



  <article class="full | region">
    <div class="wrapper flow prose">{{ content | safe }}</div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      <!-- blog intro text is optional. -->

      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}


			<!-- API -->

			<ul
			class="feature | grid region"
			role="list"
			data-rows="masonry"
			data-layout="50-50"
			>
			<!-- loop posts -->
			{% set itemList = api_openlibrary.reading_log_entries %}
			{% for item in itemList %}
				<!-- book -->
				{% include 'components/book.njk' %}
			{% endfor %}
			</ul>

			<!-- blog posts -->

      <ul
        class="feature | grid region"
        role="list"
        data-rows="masonry"
        data-layout="50-50"
      >
        <!-- loop posts -->
        {% set itemList = collections.posts %}
        {% for item in itemList %}
          <!-- activate tags -->
          {% set activateTags = true %}
          <!-- set heading context -->
          {% set headingContext = "h3" %}
          <!-- card -->
          {% include 'components/card.njk' %}
        {% endfor %}
      </ul>
    </div>
  </section>
</div>


