---
layout: base
schema: blog
---

<article class="region wrapper flow">
  <a class="back-home" href="/">Back home</a>

  <h1 class="feature">{{ title }}</h1>

  {% if image %}
    <!-- image -->
    {% eleventyImage image, alt or title, null, "eager" %}
  {% endif %}
  {%
    if
    credit
  %}
    <!-- credit -->
    <p class="credit popout | text-step-min-1">© {{ credit }}</p>
  {% endif %}

  <p class="meta | cluster" style="--gutter: var(--space-xs-s)">
    Published:
    <!-- date -->
    {% set definedDate = date %} {% include "components/date.njk" %}
    {%
      if tags.length >
      1
    %}
      <!-- tags -->
      {% for tag in tags %}{% if tag != "posts" %}
        <a class="button post-tag" href="/tags/{{ tag }}"> {{ tag }} </a>
      {% endif %}{% endfor %}
    {% endif %}
  </p>

  {{ content | safe }}
  {% include 'components/edit-on.njk' %}

  <!--  h-card infos: https://indieweb.org/authorship -->
  <div hidden class="h-entry">
    <a class="u-url" href="{{ page.url | url | absoluteUrl(meta.url) }}">{{ title }}</a>
    <a class="p-name u-url" rel="author" href="{{ meta.url }}">{{ meta.author.name }}</a>
    <img
      class="u-author h-card"
      src="{{ meta.author.avatar | url | absoluteUrl(meta.url) }}"
      alt="{{ meta.author.name }}"
    />
  </div>
</article>
